<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="/static/ljd/css/bootstrap.css">
		<link rel="stylesheet" href="/static/ljd/css/main.css">

		<link rel="stylesheet" type="text/css" href="/static/ljd/css/main.css" />
		<script src="/static/js/jquery.min.js"></script>
		<style>

		</style><link rel="stylesheet" type="text/css" href="/static/ljd/css/style.css">
		<script type="text/javascript" src="/static/js/script.js"></script>
			
				<link rel="stylesheet" href="/static/ljd/css/main.main.css">
			
				<link rel="stylesheet" href="/static/ljd/css/y.css">
		  <link rel="icon" type="image/x-icon" href="favicon.ico">
		<title>快人脉</title>

<meta name="keywords" content="快人脉" />
<meta name="description" content="找合作上快人脉" />

	</head>

	<body>
		<div class="c-top-bar">
			<div class="c-top-bar__nav">

<div style="float:left;color: #fff;font-size: 14px;margin-top: 6px;">找合作,上快人脉
</div>

				<ul class="list-inline c-top-bar__nav-list">
					
										
				<li class="list-inline-item c-top-bar__nav-item">
					<a class="c-top-bar__nav-link" href="login.html">登录</a>
					</li>
					<li class="list-inline-item c-top-bar__nav-item">
						<a class="c-top-bar__nav-link" href="http://www.mybdhome.com/user/message.html">
							
						
							注册
							
						
													</a>
					</li>
					
					
							
				</ul>
				
				
			</div>
		</div>
		<header class="c-page-header">
			<nav class="c-page-header__nav">
				<a class="c-page-header__logo" ><img class="c-page-header__logo-img" src={{User.objects.filter(name=logopic).last()}}{{User.objects.filter(name=logopic).last()}} width="100" height="100" alt="首页"></a>
				<ul class="list-inline c-page-header__nav-list">
					<li class="list-inline-item c-page-header__nav-item is-active">
						<a class="c-page-header__nav-link" href="http://www.mybdhome.com/"></a>
					</li>
					<li class="list-inline-item c-page-header__nav-item ">
						<a class="c-page-header__nav-link" href="advertiser.html">个人信息</a>
					</li>
					<li class="list-inline-item c-page-header__nav-item ">
						<a class="c-page-header__nav-link" href="channel.html"></a>
					</li>
				</ul>
				<form class="c-page-header__search-form" action="http://www.mybdhome.com/" method="get">
					<input type="hidden" name="w" value="search" />
					<input class="c-page-header__search-field" placeholder="请输入您想搜索的内容" name="so" value=""><button class="c-page-header__search-submit" style="
    color: #ffffff;
"> </button></form>
				<a class="c-page-header__new-post" href="release.html">需求发布</a>
			</nav>
		</header>
		
			<main class="page-main page-main--trade">
			<div class="carousel slide mx-auto c-carousel" id="carousel-banner" data-ride="carousel">
				
				<div class="carousel-inner c-carousel__inner">
				<div class="active carousel-item c-carousel__item"><img class="d-block w-100 c-carousel__img" src={{User.objects.filter(name=lunpic1).last()}}{{User.objects.filter(name=lunpic1).last()}} alt=""width="1280" height="265"></div>
				<div class="carousel-item c-carousel__item"><img class="d-block w-100 c-carousel__img" src={{User.objects.filter(name=lunpic2).last()}}{{User.objects.filter(name=lunpic2).last()}} alt=""width="1280" height="265"></div>
					<!--<div class="carousel-item c-carousel__item"><img class="d-block w-100 c-carousel__img" src="img/bd1.png" alt=""></div>
					<div class="carousel-item c-carousel__item"><img class="d-block w-100 c-carousel__img" src="img/bd1.png" alt=""></div>-->
				</div>
				<a class="carousel-control-prev" href="#carousel-banner" role="button" data-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">Previous</span></a>
				<a class="carousel-control-next" href="#carousel-banner" role="button" data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="sr-only">Next</span></a>
			</div>
			
			
			
			
				<ul class="select">
		<li class="select-list">
			<dl id="select1">
				<dt>宠物：</dt>
				<dd class="select-all selected"><a href="#">全部</a></dd>
				<dd><a href="#">出售宠物</a></dd>
				<dd><a href="#">购买宠物</a></dd>

			</dl>
		</li>
		<li class="select-list">
			<dl id="select2">
				<dt>房产：</dt>
				<dd class="select-all selected"><a href="#">全部</a></dd>
				<dd><a href="#">我要租房</a></dd>
				<dd><a href="#">我要转租</a></dd>
				<dd><a href="#">我要合租</a></dd>

			</dl>
		</li>
		<li class="select-list">
			<dl id="select3">
				<dt>二手市场：</dt>
				<dd class="select-all selected"><a href="#">全部</a></dd>
				<dd><a href="#">手机电脑</a></dd>
				<dd><a href="#">电动摩托车</a></dd>
				<dd><a href="#">服装箱包</a></dd>
				<dd><a href="#">数码产品</a></dd>
				<dd><a href="#">家具家电</a></dd>
				<dd><a href="#">票务图书</a></dd>
				<dd><a href="#">其他</a></dd>
			</dl>
		</li>
		<li class="select-list">
			<dl id="select4">
				<dt>寻人寻物：</dt>
				<dd class="select-all selected"><a href="#">全部</a></dd>
				<dd><a href="#">我要买</a></dd>
				<dd><a href="#">我要卖</a></dd>
				<dd><a href="#">寻人启事</a></dd>
				<dd><a href="#">寻物启事</a></dd>
			</dl>
		</li>
		<li class="select-list">
			<dl id="select5">
				<dt>我要人脉：</dt>
				<dd class="select-all selected"><a href="#">全部</a></dd>
				<dd><a href="#">生活人脉</a></dd>
				<dd><a href="#">其他人脉</a></dd>
				<dd><a href="#">职场人脉</a></dd>

			</dl>
		</li>
		<li class="select-list">
			<dl id="select6">
				<dt>本地生活：</dt>
				<dd class="select-all selected"><a href="#">全部</a></dd>
				<dd><a href="#">美食优惠</a></dd>
				<dd><a href="#">信用卡</a></dd>
				<dd><a href="#">聚会活动</a></dd>
				<dd><a href="#">贷款</a></dd>
			</dl>
		</li>
		<li class="select-list">
			<dl id="select7">
				<dt>地区选择：</dt>
				<dd class="select-all selected"><a href="#">全部</a></dd>
				<dd><a href="#">广州</a></dd>
				<dd><a href="#">三亚</a></dd>
				<dd><a href="#">香港</a></dd>
				<dd><a href="#">北京</a></dd>
			</dl>
		</li>

	</ul>
	</div>
</div>
			<div class="clearfix c-trade">
				<div class="c-trade__main">
					<div class="c-trade-sort">
						<ul class="list-inline c-trade-sort__item-list">
							
							
									<a class="list-inline-item c-trade-sort__item" href="#"/>
				<label class="c-trade-sort__item-name" >进行中</label>
					
							</a>	<a class="list-inline-item c-trade-sort__item" href="#"/>
				<label class="c-trade-sort__item-name" >圆满结束</label>
					

								
								
					
						</ul>

					</div>
					<ul class="list-unstyled c-trade-card-list">
						
						
						
						
						
						
						
						
						
				
		{% for a in Publish  %}
			{%if %}
				<li class="c-trade-card-item">
					<!-- 绝对定位，卡片左上角ribbon-->
							<div class="c-trade-card-item__recommendation" data-recommendation="true">
								<p class="c-trade-card-item__recommendation-ribbon" style="
    background-color: #f5370c;
">置顶</p>
							</div>
						
					
							<div class="c-trade-card">
								<!-- 卡片中靠左，包括figure和info overview-->
								<div class="c-trade-card__overview">
									<figure class="c-trade-card__avatar"><img class="c-trade-card__avatar-img" src="{{image}}" alt="头像">
										<figcaption class="c-trade-card__avatar-caption" style="
    text-align: center;
">{{shopkeepname}}</figcaption>
									</figure>
									<div class="c-trade-card__synopsis">
										<h4 class="c-trade-card__title"><a class="c-trade-card__link" target="_blank" href="demand-4694.html">{{title}}</a></h4>
										<div class="c-trade-card__desc"><span class="c-trade-card__desc-name">我们需要</span>
											<ul class="c-trade-card__desc-list"><li class="list-inline-item c-trade-card__desc-item"><span class="c-trade-card__desc-tag">{{shopclass}}</span></li></ul>
										</div>
										<div class="c-trade-card__desc"><span class="c-trade-card__desc-name">地区</span>
											<ul class="c-trade-card__desc-list">
												
												<li class="list-inline-item c-trade-card__desc-item"><span class="c-trade-card__desc-tag">{{area}}</span></li>	</ul>
											<!-- 卡片中靠右，包括企业认证，发帖人职位名称、发帖时间、帖子查看人数等-->
										</div>
									</div>
								</div>
								<div class="c-trade-card__status">
							<div class="c-trade-card__certification" data-certification="true"> &nbsp;&nbsp; </div>
									
									<div class="c-trade-card__syslog" style="margin-top:73px;"><span class="c-trade-card__time">{{end_time}}</span><span class="c-trade-card__viewnum">{{count}}</span></div>
								</div>
							</div>
						</li>
				{{endif}}
		{% endfor %}
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
						
						
						
						
					</ul>
					<nav class="c-pagination" aria-label="page navigation">
						<ul class="pagination c-pagination__page-list">
							<li class="page-item c-pagination__page-item">
							
								
								
			<a class="page-link c-pagination__page-link" href="http://www.mybdhome.com/?x1=&x2=&x3=&x4=&x5=&x11=1" tabindex="-1">&#9666;&nbsp;上一页</a>					
								
							</li>
							
							
							
							
							
							
								<li class="active page-item c-pagination__page-item">
								<span class="page-link c-pagination__page-link">1</span><span class="sr-only">(current)</span>
							</li>	<li class=" page-item c-pagination__page-item">
								<a class="page-link c-pagination__page-link" href="http://www.mybdhome.com/?x1=&x2=&x3=&x4=&x5=&x11=2">2</a>
							</li>	<li class=" page-item c-pagination__page-item">
								<a class="page-link c-pagination__page-link" href="http://www.mybdhome.com/?x1=&x2=&x3=&x4=&x5=&x11=3">3</a>
							</li>	<li class=" page-item c-pagination__page-item">
								<a class="page-link c-pagination__page-link" href="http://www.mybdhome.com/?x1=&x2=&x3=&x4=&x5=&x11=4">4</a>
							</li>	<li class=" page-item c-pagination__page-item">
								<a class="page-link c-pagination__page-link" href="http://www.mybdhome.com/?x1=&x2=&x3=&x4=&x5=&x11=5">5</a>
							</li>	<li class=" page-item c-pagination__page-item">
								<a class="page-link c-pagination__page-link" href="http://www.mybdhome.com/?x1=&x2=&x3=&x4=&x5=&x11=6">6</a>
							</li>	<li class=" page-item c-pagination__page-item">
								<a class="page-link c-pagination__page-link" href="http://www.mybdhome.com/?x1=&x2=&x3=&x4=&x5=&x11=7">7</a>
							</li>	<li class=" page-item c-pagination__page-item">
								<a class="page-link c-pagination__page-link" href="http://www.mybdhome.com/?x1=&x2=&x3=&x4=&x5=&x11=8">8</a>
							</li>

							<li class="page-item c-pagination__page-item">
								<a class="page-link c-pagination__page-link" href="http://www.mybdhome.com/?x1=&x2=&x3=&x4=&x5=&x11=9">&#8943;</a>
							</li>
						
							<li class="page-item c-pagination__page-item">
								<a class="page-link c-pagination__page-link" href="http://www.mybdhome.com/?x1=&x2=&x3=&x4=&x5=&x11=2">下一页&nbsp;&#9656;</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="c-trade__aside" style="margin-top: 0px;">
					<div class="c-trade-ad"><img class="c-trade-ad__img" src="img/bd3-3-1.png" alt="广告位"></div>
					<nav class="c-trade-news c-trade-news--today">
						<header class="c-trade-news__header">
							<h3 class="c-trade-news__title">今日{{User.objects.filter(name=top1).last()}}{{User.objects.filter(name=top1).last()}}</h3></header>
						<ol class="list-unstyled c-trade-news__nav-list">
							
							
							
							
							
							
													<li class="c-trade-news__nav-item">
								<a class="c-trade-news__nav-link" href="demand-5587.html">{{title}}</a>
							</li>
		
							
							
							
						
						</ol>
					</nav>
					<nav class="c-trade-news c-trade-news--week">
						<header class="c-trade-news__header">
							<h3 class="c-trade-news__title">七天{{User.objects.filter(name=top2).last()}}{{User.objects.filter(name=top2).last()}}</h3></header>
						<ol class="list-unstyled c-trade-news__nav-list">
					{% for a in Publish  %}
						{%if %}
								<li class="c-trade-news__nav-item">
								<a class="c-trade-news__nav-link" href="demand-5368.html">{{title}}</a>
							</li>
						{% endif %}
					{% endfor %}
						</ol>
					</nav>
				</div>
			</div>
		</main>
		<footer class="c-page-footer">
			<nav class="c-page-footer__row c-page-footer__about">
				<a class="c-page-footer__text c-page-footer__link" href="http://www.mybdhome.com/">首页&nbsp;&#47;</a>
				<a class="c-page-footer__text c-page-footer__link" href="http://www.mybdhome.com/disclaimer.html">&nbsp;免责声明&nbsp;&#47;</a>
				<a class="c-page-footer__text c-page-footer__link" href="http://www.mybdhome.com/about.html">&nbsp;关于我们</a>
			</nav>
			<p class="c-page-footer__row c-pagte-footer__contact"><span class="c-page-footer__contact-title c-page-footer__text">联系方式&nbsp;&#124;</span><span class="c-page-footer__text">&nbsp;客服QQ:&nbsp;1071640565&nbsp;&#47;</span>
			
                    

			
          
                    
          
          <hr class="c-page-footer__separator">
			<p class="c-page-footer__row c-page-footer__certification"><span class="c-page-footer__text">网页设计小组&nbsp;&#124;
		</footer>
		<script src="/static/ljd/js/jquery.js"></script>
		<script src="/static/ljd/js/popper.js"></script>
		<script src="/static/ljd/js/bootstrap.js"></script>


<span style="display: none;">
<!-- 统计代码 -->
<script src="/static/ljd/js/aaa.js" language="JavaScript"></script>
  
  
  <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?42bf2023872596714259937eaebb4ab5";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

  
</span>


	</body>

</html>
