
<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/main.css">
			
			
				<link rel="stylesheet" href="/static/main.main.css">
			
				<link rel="stylesheet" href="/static/css/y.css">
		  <link rel="icon" type="image/x-icon" href="favicon.ico">
		<title>【第一接单网】找快人脉</title>

<meta name="keywords" content="异业合作,资源置换,商务合作网站,异业联盟,市场合作,商务拓展,找客户,职业交流,商务社交,BD之家" />
<meta name="description" content="BD之家(mybdhome.com)聚集BD人脉，整合海量商务合作信息，是企业寻找市场推广、异业合作、资源互换、流量变现的最佳平台。找合作，上BD之家！" />

	</head>

	<body>
		<div class="c-top-bar">
			<div class="c-top-bar__nav">

<div style="float:left;color: #fff;font-size: 14px;margin-top: 6px;">找合作,上快人脉
</div>

				<ul class="list-inline c-top-bar__nav-list">
					
															<li class="list-inline-item c-top-bar__nav-item">
						<a class="c-top-bar__nav-link" href="http://www.mybdhome.com/login.html">登录</a>
					</li>
					<li class="list-inline-item c-top-bar__nav-item">
						<a class="c-top-bar__nav-link" href="http://www.mybdhome.com/register.html">注册</a>
					</li>
					
					
							
				</ul>
				
				
			</div>
		</div>
		<header class="c-page-header">
			<nav class="c-page-header__nav">
				<a class="c-page-header__logo" href="http://www.mybdhome.com/"><img class="c-page-header__logo-img" src="img/logo.png" alt="企业Logo"></a>
				<ul class="list-inline c-page-header__nav-list">
					<li class="list-inline-item c-page-header__nav-item is-active">
						<a class="c-page-header__nav-link" href="http://www.mybdhome.com/">异业大厅</a>
					</li>
					<li class="list-inline-item c-page-header__nav-item ">
						<a class="c-page-header__nav-link" href="advertiser.html">广告主</a>
					</li>
					<li class="list-inline-item c-page-header__nav-item ">
						<a class="c-page-header__nav-link" href="channel.html">渠道主</a>
					</li>
				</ul>
				<form class="c-page-header__search-form" action="http://www.mybdhome.com/" method="get">
					<input type="hidden" name="w" value="search" />
					<input class="c-page-header__search-field" placeholder="请输入您想搜索的内容" name="so" value=""><button class="c-page-header__search-submit" style="
    color: #ffffff;
"> </button></form>
				<a class="c-page-header__new-post" href="release.html">免费发布合作</a>
			</nav>
		</header>
		
				<main class="page-main page-main--post">
			<div class="c-post clearfix">
				<div class="c-post__main">
					<div class="c-post-overview">
						<header class="c-post-overview__header">
							<h3 class="c-post-overview__title">【第一接单网】找信用卡商家，或者其他需要CPA推广的广告主</h3><small class="c-post-overview__status"><span class="c-post-overview__brand">拓展</span><span class="c-post-overview__job">商务BD</span><time class="c-post-overview__time">发布时间&nbsp;:&nbsp;2018-08-06 14:37:40</time><button class="c-btn c-btn-text c-post-overview__collect" type="button">收藏</button><span class="c-post-overview__reply">回复数33</span><span class="c-post-overview__visit">浏览量1326</span></small></header>
						<div class="c-post-overview__main">
							<p class="c-post-overview__item"><span class="c-post-overview__item-name">品牌名称:</span><span class="c-post-overview__item-value">第一接单网</span><span class="c-post-overview__item-flag">
								
								品牌主								
							</span></p>
							<p class="c-post-overview__item"><span class="c-post-overview__item-name">寻找:</span><span class="c-post-overview__item-value">
								费用支持&nbsp;&nbsp;								
								</span></p>
							<p class="c-post-overview__item"><span class="c-post-overview__item-name">合作地区:</span><span class="c-post-overview__item-value">
								
								全国&nbsp;&nbsp;								
								
							</span></p>
							<p class="c-post-overview__item"><span class="c-post-overview__item-name">截止时间:</span><span class="c-post-overview__item-value">2018-8-30</span></p>
						</div>
					</div>
					
					
					
					
					  <script type="text/javascript" src="/static/js/jquery.min.js" ></script>

  	<script src="layui/layui.js?t=1508154136727" charset="utf-8"></script>

					
					
					
					
					
					
					
					
					
					
					
					<div class="c-post-desc">
						<div class="c-post-desc__module">
							<header class="c-post-desc__module-header">
								<h4 class="c-post-desc__module-title">我们提供</h4></header>
							<div class="c-post-desc__module-main">
								<p class="c-post-desc__module-content">第一接单网是BD之家兄弟产品，只做CPA推广，非自然流量，渠道大部分来自QQ群等做任务的人群，所以能接受这种渠道的广告主请联系我们，网址：www.1jiedan.com</p>
							</div>
						</div>
						<div class="c-post-desc__module">
							<header class="c-post-desc__module-header">
								<h4 class="c-post-desc__module-title">我们需要</h4></header>
							<div class="c-post-desc__module-main">
								<p class="c-post-desc__module-content">需要预付，没有预付的话我们暂时不合作，预付要是消耗不完，会在12小时内完成退款，我们没有复杂的财务流程！！！</p>
							</div>
						</div>
						
						
						
												
						
						<div class="c-post-desc__module c-post-desc__module--important">
							<header class="c-post-desc__module-header">
								<h4 class="c-post-desc__module-title">特别说明</h4></header>
							<div class="c-post-desc__module-main">
								<p class="c-post-desc__module-content">请带上美丽的价格哈，我们会对比其他家哦</p>
							</div>
						</div>
						
												
					</div>
					
					
					
					
					
					
					
					
					
					
					
					
					
					
											<div class="c-post-comment">
						<header class="c-post-comment__header">
							<h4 class="c-post-comment__title">合作联系方式</h4></header>
					
										
					
				<div class="sort_connect">
<p><a onclick="ck()" href="#" id="post_reply">回复可见合作联系方式</a></p>
    </div>
    
        
    
    
    
    
    
    
    
					</div>
						
			<script>
				function ck(){

                    var oldtime = "1535558400";
                    var newtime = "1536025151";
                    //备注  这里弹窗
                    if(oldtime<newtime){
                        alert('当前合作有效期已过！');
                        return;
                    }
			
					//一般直接写在一个js文件中
layui.use(['layer', 'form'], function(){
  //信息框-例4



    layer.open({
      type: 2,
      title: '回复后查看联系方式',
      shadeClose: true,
      shade: false,
      maxmin:false, //开启最大化最小化按钮
      area: ['500px', '340px'],
      content: 'http://www.mybdhome.com//demandh.php?id=4694',
          end: function(){
       	
       		
       			history.go(0);
          }
    });
  










});
				}
			</script>			
						
						
						
						
						
						
						<style>
							.sort_connect {
    margin: 5px 0 10px;
      border: 1px solid #4aa01e;
    background: #fffdf5;
    font-size: 14px;
    line-height: 30px;
    display: block;
}
.sort_connect p {
    padding: 30px 10px 40px;
        background: url(img/bg_hide.png) no-repeat;
    text-align: center;
        margin-bottom: 0rem;
}
		.sort_connect p a {
  color: #2aa921;
    font-size: 28px;
}				</style>
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					

					
					
					
					
					<div class="c-post-comment">
						<header class="c-post-comment__header">
							<h4 class="c-post-comment__title">回复</h4></header>
						<div class="c-post-replay__main">
							<ul class="list-unstyled c-post-comment__list">
								
								
								
								
								
						
						
						
						
{#						<li class="clearfix c-post-comment__item">#}
{#									<figure class="c-post-comment__figure"><img class="c-post-comment__avatar" src="img/txs/tx00.png" alt="头像">#}
{#										<figcaption class="c-post-comment__caption">合作123</figcaption>#}
{#									</figure>#}
{#									<div class="c-post-comment__detail">#}
{#										<p class="clearfix c-post-comment__status"><span class="c-post-replay__business"><span class="c-post-comment__brand">创瑞</span><span class="c-post-comment__job">区域销售</span></span><time class="c-post-comment__time">发布时间&nbsp;:2018-08-06 15:52:08</time></p>#}
{#										<p class="c-post-comment__content"> 1</p>#}
{#										#}
{#										<button class="c-btn c-btn-text c-post-comment__reply-action" type="button" onclick="hxh(36518)">回复</button>#}
{#										#}
{#										<button class="c-btn c-btn-text c-post-comment__reply-collapse" id="h_x_h_t_36518" data-collapse="true" onclick="hxhx(36518)">展开回复</button>#}
{#										</div>#}
{#										#}
{#											<ul class="c-post-comment__reply-list" id="h_x_h_36518">		</ul>#}
										
										
{#							</li>#}
{#                            {% for comment in comment_list %}#}

							<li class="clearfix c-post-comment__item">
									<figure class="c-post-comment__figure"><img class="c-post-comment__avatar" src="img/txs/11510735061.jpg" alt="头像">
										<figcaption class="c-post-comment__caption">{{ comment.user }}</figcaption>
									</figure>
									<div class="c-post-comment__detail">
										<p class="clearfix c-post-comment__status"><span class="c-post-replay__business"><span class="c-post-comment__brand">拓展</span><span class="c-post-comment__job">商务KRM</span></span><time class="c-post-comment__time">发布时间&nbsp;:{{ comment.submit_date }}</time></p>
										<p class="c-post-comment__content"> {{ comment.message }}</p>
										
										<button class="c-btn c-btn-text c-post-comment__reply-action" type="button" onclick="hxh(36524)">回复</button>
										
										<button class="c-btn c-btn-text c-post-comment__reply-collapse" id="h_x_h_t_36524" data-collapse="true" onclick="hxhx(36524)">展开回复</button>
										</div>
										
											<ul class="c-post-comment__reply-list" id="h_x_h_36524"> 		</ul>
										
										
							</li>
{#                                {% empty %}#}
{#                                暂无交易留言#}
{#                                {% endfor %}#}

								           		
				
				
				
	<script>
		function hxh(a){
			layui.use(['layer', 'form'], function(){
		
		
		
		
		
		
    layer.open({
      type: 2,
      title: '回复用户',
      shadeClose: true,
      shade: false,
      maxmin:false, //开启最大化最小化按钮
      area: ['500px', '340px'],
      content: 'http://www.mybdhome.com//demandhh.php?id=' + a,
          end: function(){
       	
       		
       			history.go(0);
          }
    });
  
		
		
		
		
		
		
		
		
			})
		}
		
				function hxhx(a){
					
					
					if($("#h_x_h_t_"+a).text() == "展开回复"){
									  $("#h_x_h_"+a).show();
					                  $("#h_x_h_t_"+a).text("收起回复");
					}else{
									  $("#h_x_h_"+a).hide();
					                  $("#h_x_h_t_"+a).text("展开回复");	
					}
					
		
					
	
		}
	</script>			
							
						
						
						
			
								
								
								
							</ul>
						</div>
					</div>
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					<nav class="c-pagination" aria-label="page navigation">
						<ul class="pagination c-pagination__page-list">
				<li class="page-item c-pagination__page-item">
								<a class="page-link c-pagination__page-link" href="demand-4694-1.html" tabindex="-1">&#9666;&nbsp;上一页</a>
							</li>
							
							
							
							
							
							
								<li class="active page-item c-pagination__page-item">
								<span class="page-link c-pagination__page-link">1</span><span class="sr-only">(current)</span>
							</li>	<li class=" page-item c-pagination__page-item">
								<a class="page-link c-pagination__page-link" href="demand-4694-2.html">2</a>
							</li>	<li class=" page-item c-pagination__page-item">
								<a class="page-link c-pagination__page-link" href="demand-4694-3.html">3</a>
							</li>	<li class=" page-item c-pagination__page-item">
								<a class="page-link c-pagination__page-link" href="demand-4694-4.html">4</a>
							</li>	<li class=" page-item c-pagination__page-item">
								<a class="page-link c-pagination__page-link" href="demand-4694-5.html">5</a>
							</li>	<li class=" page-item c-pagination__page-item">
								<a class="page-link c-pagination__page-link" href="demand-4694-6.html">6</a>
							</li>	<li class=" page-item c-pagination__page-item">
								<a class="page-link c-pagination__page-link" href="demand-4694-7.html">7</a>
							</li>	<li class=" page-item c-pagination__page-item">
								<a class="page-link c-pagination__page-link" href="demand-4694-8.html">8</a>
							</li>							
				
							<li class="page-item c-pagination__page-item">
								<a class="page-link c-pagination__page-link" href="demand-4694-9.html">&#8943;</a>
							</li>
						
							<li class="page-item c-pagination__page-item">
								<a class="page-link c-pagination__page-link" href="demand-4694-2.html">下一页&nbsp;&#9656;</a>
							</li>
						</ul>
					</nav>
				</div>
				
				

				
				
				<div class="c-post__aside">
					<div class="c-post-aside">
						<div class="c-post-aside__user">
							<figure class="c-post-aside__figure"><img class="c-post-aside__avatar" src="img/txs/11510735061.jpg" alt="头像">
								<figcaption class="c-post-aside__caption">
									<a class="c-post-aside__user-link" href="#">盖世英雄</a>
								</figcaption>
							</figure>
						</div>
						<div class="c-post-aside__main">
							<header class="c-post-aside__header">
								<h3 class="c-post-aside__title">最近发表</h3></header>
							<nav class="c-post-aside__nav">
								<ol class="list-unstyled c-post-aside__nav-list">
																	<li class="c-post-aside__nav-item">
										<a class="c-post-aside__nav-link" href="demand-4694.html">【第一接单网】找信用卡商家，或者其他需要CPA推广的广告主</a>
									</li>		
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</main>



		<footer class="c-page-footer">
			<nav class="c-page-footer__row c-page-footer__about">
				<a class="c-page-footer__text c-page-footer__link" href="http://www.mybdhome.com/">首页&nbsp;&#47;</a>
				<a class="c-page-footer__text c-page-footer__link" href="http://www.mybdhome.com/disclaimer.html">&nbsp;免责声明&nbsp;&#47;</a>
				<a class="c-page-footer__text c-page-footer__link" href="http://www.mybdhome.com/about.html">&nbsp;关于我们</a>
			</nav>
			<p class="c-page-footer__row c-pagte-footer__contact"><span class="c-page-footer__contact-title c-page-footer__text">联系我们&nbsp;&#124;</span><span class="c-page-footer__text">&nbsp;客服QQ:&nbsp;623690500&nbsp;&#47;</span><span class="c-page-footer__text">&nbsp;联系电话:&nbsp;027-87780143 （广告推销勿扰）&nbsp;&#47;</span><span class="c-page-footer__text">&nbsp;地址:&nbsp;武汉市洪山区书城路17号&nbsp;</span></p>
			
                    
          
          <hr class="c-page-footer__separator">
			<p class="c-page-footer__row c-page-footer__certification"><span class="c-page-footer__text">武汉优上科技有限公司&nbsp;&#124;</span><span class="c-page-footer__text">&nbsp;鄂ICP备17005716号-2</span></p>
		</footer>
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/popper.js"></script>
		<script src="/static/js/bootstrap.js"></script>


<span style="display: none;">
<!-- 统计代码 -->
<script src="https://s13.cnzz.com/z_stat.php?id=1269900004&web_id=1269900004" language="JavaScript"></script>
  
  
  <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?42bf2023872596714259937eaebb4ab5";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

  
</span>


	</body>

</html>
