	<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/main.css">
		<title>BD之家 - 个人资料</title>
	</head>

	<body>
		<div class="c-top-bar">
			<div class="c-top-bar__nav">
				<ul class="list-inline c-top-bar__nav-list">
															
				<li class="list-inline-item c-top-bar__nav-item">
					<a class="c-top-bar__nav-link" href="mybdhome.html">15802621140</a>
					</li>
					<li class="list-inline-item c-top-bar__nav-item">
						<a class="c-top-bar__nav-link" href="user/message.html">消息
						
												
						</a>
					</li>
					
					
				</ul>
			</div>
		</div>
		<header class="c-user-banner">
			<nav class="c-user-banner__nav">
				<ul class="list-inline c-user-banner__nav-list">
					<li class="list-inline-item c-user-banner__nav-item">
						<a class="c-user-banner__nav-link c-user-banner__logo" href="/pub/1.html"><img class="c-user-banner__logo-img" src="../img/logo.png" alt="Logo"></a>
					</li>
					<li class="list-inline-item c-user-banner__nav-item  is-active">
						<a class="c-user-banner__nav-link" href="/user/mybdhome/">个人设置</a>
					</li>
					<li class="list-inline-item c-user-banner__nav-item">
						<a class="c-user-banner__nav-link" href="/user/account/">账号设置</a>
					</li>
				</ul>
				<a class="c-user-banner__create-post" href="/user/release/">发布合作信息</a>
			</nav>
		</header>
		<main class="page-main">
			<div class="clearfix c-user">
				<div class="c-user__aside">
					<nav class="c-user-sidenav">
						<header class="c-user-sidenav__header">
							<h3 class="c-user-sidenav__title">个人中心</h3></header>
						<ul class="list-unstyled c-user-sidenav__nav-list">
							<li class="c-user-sidenav__nav-item ">
								<a class="c-user-sidenav__nav-link" href="/user/index/">我的资料</a>
							</li>
							<li class="c-user-sidenav__nav-item ">
								<a class="c-user-sidenav__nav-link" href="/user/demand/">我的需求</a>
							</li>
						<li class="c-user-sidenav__nav-item ">
								<a class="c-user-sidenav__nav-link" href="/user/collection/">我的收藏</a>
							</li>
							<li class="c-user-sidenav__nav-item ">
								<a class="c-user-sidenav__nav-link" href="/user/message/">我的消息</a>
							</li>
							<li class="c-user-sidenav__nav-item ">
								<a class="c-user-sidenav__nav-link" href="/user/wallet/">我的钱包</a>
							</li>

								<li class="c-user-sidenav__nav-item ">
								<a class="c-user-sidenav__nav-link" href="/user/out/">退出登录</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="c-user__control-panel">
					
					
					
					
					
					
					
				
					
					<div class="c-user-control c-user-control--collection">
						<header class="c-user-control__header">
							<h4 class="c-user-control__title">我的收藏</h4></header>
						<div class="c-user-control__content">
							<ul class="list-unstyled c-user-todolist c-user-todolist--collection">
								<li class="c-user-todolist__item">
									<div class="c-user-todolist__item-overview">
										<h5 class="c-user-todolist__item-desc"><a class="c-user-todolist__item-link" href="#">我的收藏简要描述简要描述简要描述</a></h5></div>
									<div class="c-user-todolist__item-action"><time class="c-user-todolist__item-time">2017-01-01&nbsp;09:09</time><button class="c-btn c-btn-text c-user-todolist__item-delete" type="button">删除</button></div>
								</li>
								<li class="c-user-todolist__item">
									<div class="c-user-todolist__item-overview">
										<h5 class="c-user-todolist__item-desc"><a class="c-user-todolist__item-link" href="#">我的收藏简要描述简要描述简要描述</a></h5></div>
									<div class="c-user-todolist__item-action"><time class="c-user-todolist__item-time">2017-01-01&nbsp;09:09</time><button class="c-btn c-btn-text c-user-todolist__item-delete" type="button">删除</button></div>
								</li>
								<li class="c-user-todolist__item">
									<div class="c-user-todolist__item-overview">
										<h5 class="c-user-todolist__item-desc"><a class="c-user-todolist__item-link" href="#">我的收藏简要描述简要描述简要描述</a></h5></div>
									<div class="c-user-todolist__item-action"><time class="c-user-todolist__item-time">2017-01-01&nbsp;09:09</time><button class="c-btn c-btn-text c-user-todolist__item-delete" type="button">删除</button></div>
								</li>
								<li class="c-user-todolist__item">
									<div class="c-user-todolist__item-overview">
										<h5 class="c-user-todolist__item-desc"><a class="c-user-todolist__item-link" href="#">我的收藏简要描述简要描述简要描述</a></h5></div>
									<div class="c-user-todolist__item-action"><time class="c-user-todolist__item-time">2017-01-01&nbsp;09:09</time><button class="c-btn c-btn-text c-user-todolist__item-delete" type="button">删除</button></div>
								</li>
							</ul>
						</div>
					</div>
					
					
					
										
					
					
					
					
					
					
					
					
					
				</div>
			</div>
		</main>
			<footer class="c-page-footer">
			<nav class="c-page-footer__row c-page-footer__about">
				<a class="c-page-footer__text c-page-footer__link" href="http://www.mybdhome.com/">首页&nbsp;&#47;</a>
				<a class="c-page-footer__text c-page-footer__link" href="http://www.mybdhome.com/disclaimer.html">&nbsp;免责声明&nbsp;&#47;</a>
				<a class="c-page-footer__text c-page-footer__link" href="http://www.mybdhome.com/about.html">&nbsp;关于我们</a>
			</nav>
			<p class="c-page-footer__row c-pagte-footer__contact"><span class="c-page-footer__contact-title c-page-footer__text">联系我们&nbsp;&#124;</span><span class="c-page-footer__text">&nbsp;客服QQ:&nbsp;623690500&nbsp;&#47;</span><span class="c-page-footer__text">&nbsp;联系电话:&nbsp;027-87780143&nbsp;&#47;</span><span class="c-page-footer__text">&nbsp;地址:&nbsp;武汉市洪山区书城路17号&nbsp;</span></p>
			<hr class="c-page-footer__separator">
			<p class="c-page-footer__row c-page-footer__certification"><span class="c-page-footer__text">武汉优上科技有限公司&nbsp;&#124;</span><span class="c-page-footer__text">&nbsp;鄂ICP备17005716号-2</span></p>
		</footer>
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/popper.js"></script>
		<script src="/static/js/bootstrap.js"></script>
	</body>
<html>
