<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="/static/cssmain.css">
			
			
				<link rel="stylesheet" href="/static/css/main.css">
			
				<link rel="stylesheet" href="/static/css/y.css">
		  <link rel="icon" type="image/x-icon" href="favicon.ico">
		<title>BD之家</title>

<meta name="keywords" content="默认关键词" />
<meta name="description" content="默认描述" />

	</head>

	<body>
		<div class="c-top-bar">
			<div class="c-top-bar__nav">

<div style="float:left;color: #fff;font-size: 14px;margin-top: 6px;">找合作,上BD之家
</div>

				<ul class="list-inline c-top-bar__nav-list">
					
										
				<li class="list-inline-item c-top-bar__nav-item">
					<a class="c-top-bar__nav-link" href="http://www.mybdhome.com/user/">15802621140</a>
					</li>
					<li class="list-inline-item c-top-bar__nav-item">
						<a class="c-top-bar__nav-link" href="http://www.mybdhome.com/user/message.html">
							
						
							消息
							
						
													</a>
					</li>
					
					
							
				</ul>
				
				
			</div>
		</div>
		<header class="c-page-header">
			<nav class="c-page-header__nav">
				<a class="c-page-header__logo" href="http://www.mybdhome.com/"><img class="c-page-header__logo-img" src="img/logo.png" alt="企业Logo"></a>
				<ul class="list-inline c-page-header__nav-list">
					<li class="list-inline-item c-page-header__nav-item ">
						<a class="c-page-header__nav-link" href="http://www.mybdhome.com/">异业大厅</a>
					</li>
					<li class="list-inline-item c-page-header__nav-item ">
						<a class="c-page-header__nav-link" href="advertiser.html">广告主</a>
					</li>
					<li class="list-inline-item c-page-header__nav-item ">
						<a class="c-page-header__nav-link" href="channel.html">渠道主</a>
					</li>
				</ul>
				<form class="c-page-header__search-form" action="http://www.mybdhome.com/" method="get">
					<input type="hidden" name="w" value="search" />
					<input class="c-page-header__search-field" placeholder="请输入您想搜索的内容" name="so" value=""><button class="c-page-header__search-submit" style="
    color: #ffffff;
"> </button></form>
				<a class="c-page-header__new-post" href="release.html">免费发布合作</a>
			</nav>
		</header>
		
			<main class="page-main">
			<div class="c-entry-post">
				<header class="c-entry-post__header">
					<h2 class="c-entry-post__title">选择发帖板块</h2>
					<p class="c-entry-post__tip">温馨提示：请依据您的实际情况选择正确的版块，否则可能会被小编拖入回收站哦~</p>
				</header>
				<div class="c-entry-post__content">
					<div class="c-entry-post__plate">
						<a class="c-entry-post__plate-link" href="demandnew.html"><img class="c-entry-post__plate-logo" src="img/send1.png"></a>
						<div class="c-entry-post__plate-intro">
								<a href="demandnew.html"><h3 class="c-entry-post__plate-title">找合作</h3></a>
							<p class="c-entry-post__plate-desc">此版块旨在各企业间的资源置换<br>纯费用支持的合作请勿在此发布</p>
						</div>
					</div>
					<div class="c-entry-post__plate">
						<a class="c-entry-post__plate-link" href="advertisernew.html"><img class="c-entry-post__plate-logo" src="img/send2.png"></a>
						<div class="c-entry-post__plate-intro">
						<a href="advertisernew.html">	<h3 class="c-entry-post__plate-title">广告主</h3></a>
							<p class="c-entry-post__plate-desc">提供纯费用支持，需要拉新、推广、曝光的广告主，请在此处发布</p>
						</div>
					</div>
					<div class="c-entry-post__plate">
						<a class="c-entry-post__plate-link" href="channelnew.html"><img class="c-entry-post__plate-logo" src="img/send3.png"></a>
						<div class="c-entry-post__plate-intro">
							<a href="channelnew.html"><h3 class="c-entry-post__plate-title">渠道主</h3></a>
							<p class="c-entry-post__plate-desc">需要纯费用支持，提供拉新、推广、曝光的流量主，请在此处发布</p>
						</div>
					</div>
				</div>
			</div>
		</main>		<footer class="c-page-footer">
			<nav class="c-page-footer__row c-page-footer__about">
				<a class="c-page-footer__text c-page-footer__link" href="http://www.mybdhome.com/">首页&nbsp;&#47;</a>
				<a class="c-page-footer__text c-page-footer__link" href="http://www.mybdhome.com/disclaimer.html">&nbsp;免责声明&nbsp;&#47;</a>
				<a class="c-page-footer__text c-page-footer__link" href="http://www.mybdhome.com/about.html">&nbsp;关于我们</a>
			</nav>
			<p class="c-page-footer__row c-pagte-footer__contact"><span class="c-page-footer__contact-title c-page-footer__text">联系我们&nbsp;&#124;</span><span class="c-page-footer__text">&nbsp;客服QQ:&nbsp;623690500&nbsp;&#47;</span><span class="c-page-footer__text">&nbsp;联系电话:&nbsp;027-87780143 （广告推销勿扰）&nbsp;&#47;</span><span class="c-page-footer__text">&nbsp;地址:&nbsp;武汉市洪山区书城路17号&nbsp;</span></p>
			
                    
          
          <hr class="c-page-footer__separator">
			<p class="c-page-footer__row c-page-footer__certification"><span class="c-page-footer__text">武汉优上科技有限公司&nbsp;&#124;</span><span class="c-page-footer__text">&nbsp;鄂ICP备17005716号-2</span></p>
		</footer>
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/popper.js"></script>
		<script src="/static/js/bootstrap.js"></script>


<span style="display: none;">
<!-- 统计代码 -->
<script src="https://s13.cnzz.com/z_stat.php?id=1269900004&web_id=1269900004" language="JavaScript"></script>
  
  
  <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?42bf2023872596714259937eaebb4ab5";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

  
</span>


	</body>

</html>
